
.sub {
  background-color: rgb(194, 15, 15);
  color: white;
  border: none;
  border-radius: 4px;
  height: 36px;
  width: 90px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.2s;
  vertical-allign: top;
}
.sub:hover {
  opacity: 0.7;
}
.sub:active {
  opacity: 0.4;
}
.j {
  background-color: rgb(255, 255, 255);
  color: rgb(13, 118, 174);
  border-color: rgb(13, 118, 174);
  border-style: solid;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.j:hover {
  background-color: rgb(13, 118, 174);
  border: none;
  color: white;
}
.j:active {
  background-color: rgb(13, 118, 174);
  color: white;
  border: none;
  opacity: 0.8;
}
.t {
  background-color: rgb(15, 102, 194);
  color: white;
  border: none;
  border-radius: 18px;
  height: 36px;
  width: 70px;
  cursor: pointer;
  margin-left: 8px;
  font-weight: bold;
  font-size: 16;
  transition: opacity 0.2s,box-shadow 0.2s;
}
.t:hover {
  opacity: 0.7;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.t:active {
  opacity: 0.4;
}
